    body{
        margin: 0px;
        padding: 0px;
        color: white;
        font-family:Verdana;
        font-size: 12px;
    }
    h2{
        text-align:center; 
        padding:0px;
        margin:0px; 
        display:inline-block
    }
    ul{
        margin:0px;
        padding:0px;
        list-style:none;
        border-top:1px solid grey;
        width:100%;
    }
    li{
        padding: 5px;
        margin: 0px;
        border-bottom:1px solid grey;
        transition: all 0.5s;
    }
    li:hover{
        transition: all 0s;
        background-color:#3D3D3D;
    }
    .new_log{
        background-color: grey;
    }
    .btn{
        color:white;
        display:inline-block;
        margin: 5px;
        padding:8px;
        border:1px solid grey;
        background:transparent;
    }
    .btn:hover{
        background-color: grey;
    }